<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>扫一扫打卡</title>
    <style type="text/css">

    a{

           display: inline-block;

           margin-left: 20px;

           width: 200px;

           height: 60px;

           text-align: center;

           line-height: 60px;

           border-radius: 50px;

           text-decoration: none;

           background-color: skyblue;

           color:black;

        }

        a:hover{

            background-color: yellow;

            color:red;

            font-size: 20px;

        }

</style>
</head>
<body class="gray-bg">

        <marquee scrolldelay=500 scrollamount=100 onMouseOut="this.start()" onMouseOver="this.stop()" behavior="alternate"><font size=+2 color=red><a href="../../../../index.php?p=home&c=Punchcard&a=main_page">开 启 扫 一 扫</a></font></marquee>

</body>
</html>

